body{
    font-family: Montserrat, sans-serif;
    background-color: #F6F6FA;;
}

.sidebar-section{
    background-color: #DFEEFF;;
}

.sidebar-image{
    margin-top: 40px;
}

.contacts-container{
    padding: 40px;
}

.contacts-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-item{
    color: #161D2A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.contacts-element{
    margin-top: -12px;
}

.contacts-email, .contacts-phone{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-left: 10px;
}

.contacts-phone{
    text-decoration: none;
}

.tech-skills-section, .soft-skills-section{
    margin: 40px 0 0 40px;
}

.tech-skills-header{
    margin-top: -22px;
}

.tech-skills-header, .soft-skills-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-skills-list, .soft-skills-list{
    color: #161D2A;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: -12px;
    margin-left: -10px;
 
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}


.app-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: white;
}

.right-side-container{
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
}

.about-me-section h4{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -19px;
}

.about-me-section h1{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
}

.about-me-section p{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-top: -25px;
}

.projects-section{
    margin-top: 40px;   
}


/* .projects-section */

.projects-section h3{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects-section ol{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    margin-left: -20px;
    margin-top: -10px;
}
.projects-section a{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-decoration-line: underline;
}

.projects-section span{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.work-experience-section{
    margin-top: 40px;
}

.work-experience-section h3{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company{
    margin-top: -10px;
}

.company h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company span{
    color: #6096FF;
    margin-left: 10px;
}

.company p{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}

.company ul{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-top: -5px;
    margin-left: -13px;
}

.eductaion-section{
    margin-top: 40px;
    margin-bottom: 180px;
}

.eductaion-section h3{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.eductaion-section div{
    margin-top: -12px;
}

.eductaion-section h4{
    color: #6096FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.education-domain{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -12px;
}

.education-time{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -7px;
}